:root {
  --cell-size: 100px;
  --border-color: black;
  --border-size: 3px;
}

body {
  background: black;
  color: black;
}

.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  margin: 40px;
  height: 600px;
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}


/*.levelselect, .game {
  /*flex: 0 0 auto;
  width: 33%;
} */

h2 {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  width: 500px;
  color: white;
  text-align: left;
  margin-left: 105px;
  margin-bottom: 20px;
}
.instructions{
  width: 25%;
  color: #dad3c3;
}

.levelselect {
  flex: 1 0 auto;
  width: 200px;
}

.level-menu-container {
  display: flex;
  justify-content: center;
}

.level-menu{
  width: 300px;
}

.level-menu-row {
  display: flex;
  flex-wrap: wrap;
}

.level-number {
  cursor: pointer;
  flex: 0 0 auto;
  width: 60px;
  height: 50px;
  color: #dad3c3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-size) solid var(--border-color);
  font-size: 28px;
}

.level-number:hover {
  color: #5abbb3;
}


.game {
  flex: 1 0 auto;
  width: 500px;
}

.grid-container {
  display: flex;
  justify-content: center;
}
/*
.grid {
}
*/
.row {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex: 0 0 auto;
  width: var(--cell-size);
  height: var(--cell-size);
  background: #dad3c3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-size) solid var(--border-color);
  font-size: 28px;
}

.cell-target {
  background: #f7c694;
  cursor: pointer;
}

.cell-removed {
  background: var(--border-color);
  color: var(--border-color);
  border: none;
  cursor: default;
  visibility: hidden;
}

.cell-active {
  background: #5abbb3;
  border: calc(var(--border-size)*2) solid black;
  visibility: visible;
}
